<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Title</title>
  
  <!-- Bootstrap -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
  
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body>
  <div class="navbar navbar-inverse" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="javascript:void(0);">AnyPlayPoll </a>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
<!--         <h2 th:inline="text"> -->
<!--           [[${survey.title}]]<br /> <small th:text="${survey.description}"></small> -->
<!--         </h2> -->
        <br />
        <div>
          답변이 제출되었습니다.
        </div>
      </div>
    </div>
    <br />  
  </div>
  <hr />
  <footer class="text-center">
    <div class="container">
      <p>Copyright © AnyPlayPoll Team.</p>
      <br />
    </div>
  </footer>  
</body>
</html>