<div class="row">
  <div class=col-md-12>
    <h1>설문 결과</h1>
    <hr />
    <h2>{{survey.title}}</h2>
    <br />
    <div class="row">
      <div class="col-md-12">
        <div class="gridStyle" ng-grid="gridOptions"></div>
      </div>
    </div>
    
    <br /> 
    <a href="#/survey" class="btn btn-primary"> <span class="glyphicon glyphicon-chevron-left"></span> 뒤로
    </a>
<!--     <button type="button" class="btn btn-default pull-right" ng-click="openSendSurveyModal(survey.surveyId)"><span class="glyphicon glyphicon-floppy-save"></span> Excel</button> -->
  </div>
</div>
<br />
